<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Foundation.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

        <sectionGroup name="Foundation">
            <section name="Foundation.EventLogging" type="Foundation.Common.LoggingConfiguration, Foundation.Common" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <Foundation.Common.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>MyApp</value>
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value>1</value>
            </setting>
        </Foundation.Common.Properties.Settings>
    </applicationSettings>

    <Foundation>
        <Foundation.EventLogging application="MyApp">
            <LogWriters>
                <clear />
                <add events="All" assembly="Foundation.Common" type="Foundation.Common.LogWriters.TextFileWriter" />
            </LogWriters>
            <Tracing prefix="Trace" />
            <Information prefix="Information Message" />
            <Error prefix="Error Message" />
            <Warning prefix="Warning Message" />
            <Audit prefix="Audit Message" />
        </Foundation.EventLogging>
    </Foundation>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <system.diagnostics>
        <switches>
            <add name="TraceLevelSwitch" value="4" />
<!--
Off     0	None
Error	1	Only error messages
Warning	2	Warning messages and error messages
Info	3	Informational messages, warning messages, and error messages
Verbose	4	Verbose messages, informational messages, warning messages, and error messages
-->
        </switches>
    </system.diagnostics>
</configuration>
