<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Foundation.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

        <sectionGroup name="Foundation">
            <section name="Foundation.EventLogging" type="Foundation.Common.LoggingConfiguration, Foundation.Common" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <Foundation.Common.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>MyApp</value>
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value>1</value>
            </setting>
        </Foundation.Common.Properties.Settings>
    </applicationSettings>

    <Foundation>
        <Foundation.EventLogging application="MyApp">
            <LogWriters>
                <clear />
                <add events="All" assembly="Foundation.Common" type="Foundation.Common.LogWriters.TextFileWriter" />
            </LogWriters>
            <Tracing prefix="Trace" />
            <Information prefix="Information Message" />
            <Error prefix="Error Message" />
            <Warning prefix="Warning Message" />
            <Audit prefix="Audit Message" />
        </Foundation.EventLogging>
    </Foundation>

    <system.diagnostics>
        <switches>
            <add name="TraceLevelSwitch" value="4" />
<!--
    Off     0    None
    Error   1    Only error messages
    Warning 2    Warning messages and error messages
    Info    3    Informational messages, warning messages, and error messages
    Verbose 4    Verbose messages, informational messages, warning messages, and error messages
-->
        </switches>
    </system.diagnostics>

    <connectionStrings>
        <clear />

        <add name="UnitTestingMasterDB" connectionString="Server=Callisto;Database=Master;User Id=Jay;Password=pass;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
        <add name="UnitTestingCore" connectionString="Server=Callisto;Database=UnitTesting;User Id=Jay;Password=pass;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
        <add name="UnitTesting" connectionString="Server=Callisto;Database=UnitTesting;User Id=Jay;Password=pass;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />

        <add name="UnitTestingUnknownProvider" connectionString="InvalidConnectionString;" providerName="UnitTestingUnknownProvider" />

        <add name="UnitTestingMasterDB_Trusted" connectionString="Server=Ganymede;Trusted_Connection=True;Database=Master;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
        <add name="UnitTestingCore_Trusted" connectionString="Server=Ganymede;Trusted_Connection=True;Database=UnitTesting;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />

        <add name="MsSqlSample" connectionString="Server=Callisto;Trusted_Connection=True;Database=Master;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
        <add name="MySQLSample" connectionString="SERVER=Callisto; DATABASE=CustomerContact; UID=jay; PASSWORD=pass" providerName="MySql.Data.MySqlClient" />

        <add name="MsSQLDataLogicProviderTest" connectionString="Microsoft Sql Server Connection String" providerName="System.Data.SqlClient" />
        <add name="MySQLDataLogicProviderTest" connectionString="MySql Connection String" providerName="MySql.Data.MySqlClient" />
        <add name="OracleDataLogicProviderTest" connectionString="Oracle Connection String" providerName="System.Data.OracleClient" />

    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>

    </runtime>
</configuration>
