<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Foundation.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

        <sectionGroup name="Foundation">
            <section name="Foundation.EventLogging" type="Foundation.Common.LoggingConfiguration, Foundation.Common" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <Foundation.Common.Properties.Settings>
            <setting name="ApplicationId" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>MyApp</value>
            </setting>
        </Foundation.Common.Properties.Settings>
    </applicationSettings>

    <Foundation>
        <Foundation.EventLogging application="applicationName">
            <LogWriters>
                <clear />
                <add events="All" assembly="Foundation.Common" type="Foundation.Common.LogWriters.TextFileWriter" />
            </LogWriters>
            <Tracing prefix="Trace" />
            <Audit prefix="Audit Message" />
            <Information prefix="Information Message" />
            <Warning prefix="Warning Message" />
            <Error prefix="Error Message" />
        </Foundation.EventLogging>
    </Foundation>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>

    </runtime>
</configuration>
